## Visual Studio / .NET
.vs/
bin/
obj/
Debug/
Release/
TestResults/

## Rider
.idea/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET / IIS
*.vspscc
*.vssscc
*.webtest

## Others
*.log
*.vs/
*.DS_Store

## Ignore specific folder 
search_data/
